body{
	background-color:#45f7bc;
	border: 5px solid #f1f1f1;
	padding-left: 500px;
	padding-top: 200px;
	padding-bottom: 405px;
}
/* Back */
.back{
  width: 30px;
  height: 30px;
  font-size: 20px;

  position: absolute;
  left: 1310px;
  top: 585px;
}

/* Doctor Registration */
.register{
	/* text-align: justify; */
	position: absolute;
  	left: 20px;
  	top: 70px;
}
/* Doctor form */
.form{
	padding-left: 20px;
}
/* Doctor form Box */
.formBox{
	position: absolute;
	left: 100px;
}

/*'''''''''''''''*/
/* Add Doctor Icon */
.adi {
	width:30px;
	height: 30px;
	position: absolute;
	left: 50px;
	top: 30px;
}
/* Delete Doctor Icon */
.ddi {
	width:30px;
	height: 35px;
	position: absolute;
	left: 150px;
	top: 30px;
}
/* Update Doctor Icon */
.udi {
	width:32px;
	height: 32px;
	position: absolute;
	left: 250px;
	top: 30px;
}
/* View Doctor Icon */
.vdi {
	width:45px;
	height: 45px;
	position: absolute;
	left: 350px;
	top: 25px;
}
/* Search Doctor Icon */
.sdi {
	width:45px;
	height: 45px;
	position: absolute;
	left: 450px;
	top: 25px;
}