body {
	
	/*background-image: url("images/hospital.jpg");*/
	background-color:#45f7bc;
	border: 5px solid #f1f1f1;
	padding-left: 500px;
	padding-top: 200px;
	padding-bottom: 395px;
}
a {
  color: black;
}
/* Doctor Panel */
.dp{
	width: 200px;
	font-size: 35px;

	position: absolute;
  	left: 200px;
  	top: 10px;
}

/* Home */
.home{
	width: 10px;
	font-size: 20px;

	position: absolute;
  	left: 20px;
  	top: 590px;
}
/* Doctor Icon */
.di{
	position: absolute;
  	left: 715px;
  	top: 20px;
  	width: 630px;
  	height: 605px;
}
/* Logout Icon */
.logouticon {
	width:30px;
	height: 30px;
	position: absolute;
	left: 20px;
	top: 590px;
}
/* Password Change Icon */
.passwordChange {
	width:30px;
	height: 30px;
	position: absolute;
	left: 20px;
	top: 30px;
}