body {
	background-color:#45f7bc;
	border: 5px solid #f1f1f1;
	padding-left: 500px;
	padding-top: 200px;
	padding-bottom: 410px;
}
/* Patient Panel */
.pp{
	width: 200px;
	font-size: 35px;

	position: absolute;
  	left: 200px;
  	top: 10px;
}
/* Patient Icon */
.pi{
	position: absolute;
  	left: 700px;
  	top: 20px;
  	width: 630px;
  	height: 600px;
}

/* Home */
.home{
	width: 10px;
	font-size: 20px;

	position: absolute;
  	left: 20px;
  	top: 590px;
}
/* Back */
.back{
 	 width:30px;
	height: 30px;
	position: absolute;
	left: 20px;
	top: 590px;
}

/* Patient Registration */
.register{
	/* text-align: justify; */
	position: absolute;
  	left: 20px;
  	top: 70px;
}
/* Patient form */
.form{
	padding-left: 20px;
}
/* Patient form Box */
.formBox{
	position: absolute;
	left: 150px;
}
/*'''''''''''''''*/
/* Password Change Icon */
.ppi {
	width:30px;
	height: 30px;
	position: absolute;
	left: 50px;
	top: 30px;
}
/* Password Change Icon */
.passwordChange {
	width:30px;
	height: 30px;
	position: absolute;
	left: 150px;
	top: 30px;
}
/* Make Appointment Icon */
.makeappoitment {
	width:35px;
	height: 35px;
	position: absolute;
	left: 250px;
	top: 30px;
}
/* Make Appointment Icon */
.viewicon {
	width:45px;
	height: 45px;
	position: absolute;
	left: 350px;
	top: 25px;
}
/* Search Doctor Icon */
.searchicon {
	width:45px;
	height: 45px;
	position: absolute;
	left: 450px;
	top: 25px;
}